<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de" id="html">
<head>
    <title>DIEKEKSTICKET.COM Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<header>
    <div th:replace="parts/parts.html :: nav"></div>
</header>
<main class="main-registration-page-body">
    <div class="registration-form container">
        <div class="registration-form-content container">
            <form class="jumbotron" th:action="@{/registration}" th:object="${registrationData}" method="post">
                <div th:if="${message}" th:text="${message}"></div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input th:field="*{email}" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter your email">
                    <p th:if="${#fields.hasErrors('email')}" class="label label-danger" th:errors="*{email}">Incorrect LP</p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Password">
                    <p th:if="${#fields.hasErrors('password')}" class="label label-danger" th:errors="*{password}">Incorrect LP</p>
                </div>
                <div class="form-group">
                    <label for="firstname">Vorname</label>
                    <input th:field="*{firstName}" type="text" class="form-control" id="firstname" placeholder="Vorname">
                    <p th:if="${#fields.hasErrors('firstName')}" class="label label-danger" th:errors="*{firstName}">Incorrect LP</p>
                </div>
                <div class="form-group">
                    <label for="lastname">Nachname</label>
                    <input th:field="*{lastName}" type="text" class="form-control" id="lastname" placeholder="Nachname">
                    <p th:if="${#fields.hasErrors('lastName')}" class="label label-danger" th:errors="*{lastName}">Incorrect LP</p>
                </div>
                <div th:object="${addressData}">
                    <div class="form-group">
                        <label for="inputState">State</label>
                        <select th:field="*{countryCode}" id="inputState" class="form-control">
                            <option th:value="DE" selected>DE</option>
                            <option th:value="FR">FR</option>
                            <option th:value="SP">SP</option>
                        </select>
                        <p th:if="${#fields.hasErrors('countryCode')}" class="label label-danger" th:errors="*{countryCode}">Incorrect LP</p>
                    </div>
                    <div class="form-group">
                        <label for="PLZ">PLZ</label>
                        <input th:field="*{zipCode}" type="text" class="form-control" id="PLZ" placeholder="PLZ">
                        <p th:if="${#fields.hasErrors('zipCode')}" class="label label-danger" th:errors="*{zipCode}">Incorrect LP</p>
                    </div>
                    <div class="form-group">
                        <label for="city">Stadt</label>
                        <input th:field="*{city}" type="text" class="form-control" id="city" placeholder="Stadt">
                        <p th:if="${#fields.hasErrors('city')}" class="label label-danger" th:errors="*{city}">Incorrect LP</p>
                    </div>
                    <div class="form-group">
                        <label for="anschrift">Anschrift</label>
                        <input th:field="*{street}" type="text" class="form-control" id="anschrift" placeholder="Anschrift">
                        <p th:if="${#fields.hasErrors('street')}" class="label label-danger" th:errors="*{street}">Incorrect LP</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</main>
<footer>
    <div th:replace="parts/parts.html :: footer"></div>
</footer>

<!-- Boostrap Scripts Start -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Boostrap Scripts End -->
</body>
</html>