<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-white" th:fragment="nav">
            <a class="navbar-brand" th:href="@{/home}">DIEKEKSTICKER.COM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Produkte</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="footer" th:fragment="footer">
            <div class="footer-content">
                <div class="newsletter">
                    <div class="newsletter-quick-links ml-5">
                        <div class="newsletter-quick-links-header">
                            Quick-Links
                        </div>
                        <div class="newsletter-quick-links-link mt-3">
                            <a th:href="@{/home}">Suche</a>
                        </div>
                    </div>
                    <div class="newsletter-email-field">
                        <div class="newsletter-email-field-field">
                            <p>Newsletter</p>
                            <input type="email" placeholder="E-Mail-Adresse"/>
                            <button type="submit">Abonnieren</button>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div></div>
                    <div class="copyright-text">
                        © 2020, DieKeksTicker.com E-Commerce
                    </div>
                </div>
            </div>
        </div>
        <!-- Boostrap Scripts Start -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Boostrap Scripts End -->
    </body>
</html>